.total-bg {
    height: 100vh;
    overflow-y: hidden;
    background-image: url('../media/pizza.png');
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 1.8rem;
    background-color: var(--color-third);
}

.actionBtn {
    position: absolute;
    margin: 1px auto;
    padding: 12px 10px;
    /* top: 82%; */
    left: 50%;
    transform: translate(-50%, -50%);
}

.landing-text {
    /* position: fixed; */
    /* top: 100px; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* display: flex; */
    /* flex-direction: column; */
    /* font-size: 0.85em; */
    border: 12px solid var(--color-red);
    font-weight: bolder;
    background-color: var(--color-third);
    /* color: var(--color-primary); */
    color: var(--color-secondary);
    text-transform: uppercase;
    padding: 0.8em 1em;
}

.landing-text .text-1 {
    font-size: 2.15rem;
    padding: 0.48em 1em;
    /* display: block; */
}

.landing-text .text-2 {
    font-size: 0.85em;
    display: block;
}

.landing-text .text-3 {
    font-size: 0.84em;
    display: block;
}

.fade-in-left {
    -webkit-animation: fade-in-left 0.46s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-left 0.46s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-in-right {
    -webkit-animation: fade-in-right 0.96s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-right 0.96s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.toConsola {
    width: 75px;
    height: 20px;
    border-radius: 50%;
    position: fixed;
    cursor: pointer;
    right: 8px;
    bottom: 4px;
    color: white;
    background-color: black;
    font-family: Changa;
    padding: 0.25em 1em;
    border-radius: 20px;
    font-size: 0.5rem;
    font-weight: bold;
    /* border: 3px solid red; */
}

.toConsola:hover {
    background-color: white;
    border: 3px solid darkred;
    text-decoration: none;
    color: darkred;
}