.total-bg {
    height: 100vh;
    overflow-y: hidden;
    background-image: url('../media/pizza.png');
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 3em;
    background-color: var(--color-third);
}

.actionBtn {
    position: absolute;
    margin: 1px auto;
    padding: 12px 10px;
    /* top: 82%; */
    left: 50%;
    transform: translate(-50%, -50%);
}

.landing-text {
    /* position: fixed; */
    /* top: 100px; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* display: flex; */
    /* flex-direction: column; */
    /* font-size: 0.85em; */
    border: 12px solid var(--color-red);
    font-weight: bolder;
    background-color: var(--color-third);
    /* color: var(--color-primary); */
    color: var(--color-secondary);
    text-transform: uppercase;
    padding: 0.8em 1em;
}

.landing-text .text-1 {
    font-size: 2.15rem;
    padding: 0.48em 1em;
    /* display: block; */
}

.landing-text .text-2 {
    font-size: 0.85em;
    display: block;
}

.landing-text .text-3 {
    font-size: 0.84em;
    display: block;
}

@media only screen and (max-width: 720px) {
    .total-bg {
        /* The file size of this background image is 93% smaller
  to improve page load speed on mobile internet connections */
        background-image: url(https://res.cloudinary.com/dcvnw6hvt/image/upload/v1620937383/TargetJunkie/5_cfuwld.png);
        /* background-image: url(https://res.cloudinary.com/dcvnw6hvt/image/upload/v1617080721/danny/IMG_8592_gimhzd.jpg); */
        height: 100vh;
        /* overflow-y: hidden; */
        /* background-image: url(https://res.cloudinary.com/dcvnw6hvt/image/upload/v1617080721/danny/IMG_8592_02_z2lqsj.jpg); */
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .name-brand img {
        /* border: 1px solid red; */
        /* position: "absolute"; */
        /* top: 233px; */
        max-width: 180px;
        /* right: 3px; */
    }
    .cover img {
        max-width: 165px;
        text-align: center;
    }
    .text-cover-div {
        margin-top: 150px;
    }
}

.fade-in-left {
    -webkit-animation: fade-in-left 0.46s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-left 0.46s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-in-right {
    -webkit-animation: fade-in-right 0.96s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-right 0.96s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}