.mymodal {
    z-index: 1000;
    position: fixed;
    /* top: 70px; */
    /* left: 5%; */
    /* margin: 5% auto; */
    max-height: 85%;
    min-height: 33%;
    max-width: 95%;
    min-width: 85%;
    background: rgba(0, 0, 0, 0.38);
    box-shadow: 1px 6.7px 5.3px rgba(0, 0, 0, 0.028), 6px 22.3px 13.9px rgba(0, 0, 0, 0.042), 12px 60px 60px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal__header {
    width: 100%;
    padding: 0.5rem 2.5rem;
    /* background: var(--color-blue); */
    color: var(--color-secondary);
    font-size: 1.75rem;
    /* font-family: LibreBarcode-Regular; */
}

.modal__closer {
    font-weight: bold;
    cursor: pointer;
}

.modal__closer:hover {
    cursor: pointer;
    color: var(--color-hover);
    font-size: 1.75rem;
}

.modal__content {
    padding: 0.75rem 0.5rem;
    overflow-y: auto;
}

.modal__footer {
    margin-top: 5px;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
}

@media (min-width: 768px) {
    .modal {
        left: calc(50% - 5rem);
        width: 40rem;
    }
}

.modal-enter {
    transform: translateY(-4rem);
    opacity: 0;
}

.modal-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all 200ms;
}

.modal-exit {
    transform: translateY(0);
    opacity: 1;
}

.modal-exit-active {
    transform: translateY(-10rem);
    opacity: 0;
    transition: all 200ms;
}