.thanks-bg {
    color: red;
    background-color: var(--color-primary);
    height: 100vh;
    /* overflow-y: hidden; */
    background-image: url(https://res.cloudinary.com/dcvnw6hvt/image/upload/v1617080721/danny/IMG_8633_01_hwgoch.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@media only screen and (max-width: 767px) {
    .thanks-bg {
        /* The file size of this background image is 93% smaller
  to improve page load speed on mobile internet connections */
        background-image: url(https://res.cloudinary.com/dcvnw6hvt/image/upload/v1617080721/danny/IMG_8633_01_hwgoch.jpg);
    }
    .name-brand img {
        /* border: 1px solid red; */
        /* position: "absolute"; */
        /* top: 233px; */
        max-width: 180px;
        /* right: 3px; */
    }
}

.video-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}