.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
    font-size: 3rem;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 10s linear;
    }
}

.App-header {
    background-color: #282c34;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.borderA {
    border: 1px solid red;
}

:root {
    --color-primary: black;
    --color-secondary: #ffffff;
    --color-white: #ffffff;
    /* --color-text: ; */
    --color-hover: #1db954;
    --color-login: #acacac;
    --color-red: #eb3947;
    /* --color-blue: #0487d9; */
}

@font-face {
    font-family: LibreBarcode-Regular;
    src: url(./assets/LibreBarcode39Text-Regular.ttf);
}

@font-face {
    font-family: Staatliches-Regular;
    src: url(./assets/Staatliches-Regular.ttf);
}

@font-face {
    font-family: Changa;
    src: local("Changa"), url(./assets/Changa.ttf) format(truetype);
    font-weight: normal;
}