.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  font-size: 3rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --color-primary: #f29f05;
  --color-secondary: #f28b0c;
  --color-text: ;
  --color-hover: #263f73;
  --color-red: #d90718;
  --color-blue: #0487d9;
}

@font-face {
  font-family: LibreBarcode-Regular;
  src: url(./assets/LibreBarcode39Text-Regular.ttf);
}

@font-face {
  font-family: Staatliches-Regular;
  src: url(./assets/Staatliches-Regular.ttf);
}
